*{
    margin:0;
    padding:0;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:90vh;
    background: linear-gradient(135deg, #ff9a9e, #a18cd1);
}

.conatiner{
    padding:25px;
    border-radius:16px;
    box-shadow:0 15px 40px rgba( 0, 0, 0, 0.25);
    text-align:center;
    background: #ffffff;
    min-width: 260px;
    border: 3px solid red;
}

.container h1{
    font-size:40px;
    text-align:center; 
}

input{
    width:87%;
    height:45px;
    margin-bottom:10px;
    border-radius:10px;
    border:none;
    background: #f2f4f6;
    font-size:18px;
    padding:10px;
    margin-top:15px;
    margin-left:20px;
}

button{
    width:60px;
    height:60px;
    border-radius:50%;
    font-size:22px;
    margin-top:12px;
    margin-left:15px;
    background-color: #D6EAF8;
    color:black;
    border:none;
     box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
}

.operator{
   background: #eecb6b;
   
}