body{
    height:80vh;
    width:100%;
    background: #201f21;
    display:flex;
    justify-content:center;
    align-items:center;
}

h1{
    color: #fff;
}

.input-box{
    width:400px;
    max-width:90%;
    position:relative;
}

.input-box input{
    width:90%;
    height:60px;
    padding: 0 20px;
    border: 1px solid #ccc;
    outline:none;
    color: #fff;
    background:transparent;
}

button{
    background:transparent;
    border:0;
    outline:none;
    border-radius:50%;
    cursor:pointer;
    position:absolute;
    top:55%;
    transform:translateY(-50%);
    right:0px;
}

button img{
    width:35px;
}

#message{
    position:absolute;
  //  bottom: -30px;
    color: #fff;
    font-size: 15px;
    margin-top:10px;
    display:none;
}

::placeholder{
    font-size:15px;
}