body{
    align-items:center;
    justify-content:center;
    display:flex;
   min-height:90vh;
   background-color:pink;
}

.container{
    padding:20px;
    width:350px;
   border:8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   background: #f4f4f4;
   text-align:center;
}

h1{
    color:red;
    align-items:center;
    margin-bottom:0px;
    text-align:center;
    margin-top:0px;
}

#searchInput{
    width:80%;
    height:25px;
    margin-top:2px;
    margin-top:15px;
    border-radius:5px;   
}

#userList li{
    list-style:none;
    margin-right:30px;
}

#noResult{
    display:none;
    margin-top:10px;
    color:red;
    font-size:16px;
}
