* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E85C8A;
}

.container {
  background: #2F343A;
  width: 350px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
  text-align: center;
  margin-bottom: 15px;
  color: #f4f4f4;
}


.input-group {
  display: flex;
  gap: 10px;
}

.input-group input {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  background-color:  #fce4ec;
 // border: 1px sold #f48fb1;
  border:none;
  border-radius:5px;
}
  



.input-group button {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  background: #E85C8A;
  color:white;
  border:none;
  border-radius:5px;
}


#todoList {
  list-style: none;
  margin-top: 15px;
}

#todoList li {
  padding: 8px;
  background: #f0f0f0;
  border-radius:5px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.completed {
  text-decoration: line-through;
  color: gray;
}